<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoSessionServices" connectionString="mongodb:/localhost:27017" />
    <add name="DefaultMongoConnection" connectionString="mongodb://localhost:27017" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseRefuge" value="Refuge"/>
    
    <add key="CollectionClass" value="class" />
    <add key="CollectionStudent" value="student"/>

  </appSettings>
</configuration>