
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="adminBody">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            @Html.ActionLink("Classes", "Classes", "Admin", null, new { @class = ViewBag.Title == "Admin - Classes" ? "nav-link active" : "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Students", "Students", "Admin", null, new { @class = ViewBag.Title == "Admin - Students" ? "nav-link active" : "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Surveys", "Surveys", "Admin", null, new { @class = ViewBag.Title == "Admin - Surveys" ? "nav-link active" : "nav-link" })
        </li>
    </ul>
</div>

<div id="adminTabContent">@RenderBody()</div>

